<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>RealDolmen Blog</title>
        <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>
    <div class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:8080/filmList"><span class="rd-blue">Movie List</span></a>
            <a class="navbar-brand" href="http://localhost:8080/filmList"></a>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/addfilm}">Add Movie</a></li>

            </ul>
        </div>
    </div>
    <body>
        <h1><span class="rd-blue">Movie Database</span></h1>


        <table border="1">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Length</th>
                <th>Release year</th>
            </tr>

            <tr th:each="f : ${filmList}">
                <td th:text="${f.id}"></td>
                <td th:text="${f.title}"></td>
                <td th:text="${f.description}"></td>
                <td th:text="${f.length}"></td>
                <td th:text="${f.releaseYear}"></td>
            </tr>

        </table>
    <a th:href="@{/addfilm}">add Film</a>


    </body>
    <script th:src="@{/js/jquery-2.0.2.min.js}"></script>
    <script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</html>